.Product-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.One {
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid brown;
    border-radius: 15px;
    width: 390px;
    height: 400px;
    padding: 20px 0px;
}

.img {
    width: 322px;
    height: 198px;
}

/* Mobile */
@media only screen and (max-width:600px) {
    .Product-list {
        grid-template-columns: auto auto;
    }

    .One {
        width: 180px;
        height: 275px;
    }

    .img {
        width: 158px;
        height: 114px;
    }

    h2 {
        font-size: 16px;
    }
}

/* Tablet */
@media only screen and (min-width:601px) {

    .Product-list {

        grid-template-columns: auto auto auto;
        text-align: center;
        /* grid-gap: 20px; */
    }

    .One {
        background-color: antiquewhite;
        border: 1px solid brown;
        border-radius: 15px;
        width: 233px;
        height: 400px;
        padding: 18px 0px;
    }

    .img {
        width: 214px;
        height: 160px;
    }

}

/* Desktop */
/* @media only screen and(min-width:1080px){
    .Product-list {

        grid-template-columns: auto auto auto auto;
        /
    }

    .One {
        background-color: antiquewhite;
        text-align: center;
        border: 1px solid brown;
        border-radius: 15px;
        width: 233px;
        height: 400px;
        padding: 18px 0px;
    }

    .img {
        width: 214px;
        height: 160px;
    }
}
.main {
    border: solid 2px black;
    background-color: antiquewhite;
    text-align: center;
} */